<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cnsa_6th_council">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangeCheck"></activity>
        <activity android:name=".Change" />
        <activity android:name=".Notice" />
        <activity android:name=".Schedual" />
        <activity android:name=".DetailResult" />
        <activity android:name=".Result" />
        <activity android:name=".PetitionUploadCheck" />
        <activity android:name=".PetitionUpload" />
        <activity android:name=".PetitionAgreeCheck" />
        <activity android:name=".PetitionAgree" />
        <activity android:name=".PetitionShow" />
        <activity android:name=".Intro" />
        <activity android:name=".Flash" />
        <activity android:name=".Loing" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>